<div class="grid grid-flow-col m-3">
  <mat-card *ngFor="let key of topKeys" class="col">
    <mat-card-content id="{{key}}-key-card">{{ key }}</mat-card-content>
  </mat-card>
</div>
<div class="grid grid-flow-col m-3">
  <mat-card *ngFor="let key of middleKeys" class="col">
    <mat-card-content id="{{key}}-key-card">{{ key }}</mat-card-content>
  </mat-card>
</div>
<div class="grid grid-flow-col m-3">
  <mat-card *ngFor="let key of bottomKeys" class="col">
    <mat-card-content id="{{key}}-key-card">{{ key }}</mat-card-content>
  </mat-card>
</div>
